@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<style>
        /* Style the navigation items within the navbar */
    .navbar-nav .nav-item {
        margin-right: 10px; /* Adjust the spacing between navigation items */
    }

    .navbar-nav .nav-link {
        color: #333;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.3s;
    }

    .navbar-nav .nav-link:hover {
        color: #007bff; /* Change the color on hover to a different color */
    }

    /* Style the "Logout" button within the form */
    .navbar-nav .form-inline .nav-link.btn {
        padding: 0;
        background: none;
        border: none;
        color: #333;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navbar-nav .form-inline .nav-link.btn:hover {
        color: #007bff; /* Change the color on hover to a different color */
}

</style>
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
